// GENERAL STYLE

@import "setup";
@import "header";
@import "footer";

$white: #ffffff;
$darkBrown: #1d0303;
$hardRed: #500801;
$brown: #815600;

html {
    font-family: "Petit Formal Script", cursive;
    font-size: 62.5%;
    color: white;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 9rem;
    text-align: right;
}

h2 {
    font-size: 5.4rem;
    margin: 0 0 0 0;
}

// HEADER STYLE

header {
    background-color: $brown;
    padding: 0 0 75px 0;
}

.navFlex {
    display: flex;
    margin: 0 auto;
    padding: 15px 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 2rem;
            font-weight: 300;
            text-decoration: none;
            display: inline-block;
            margin: 0 30px 0 0;
        }
    }
}

// HERO STYLE

.headerFlex {
    display: flex;
    align-items: center;

    .imgContainer {
        margin: 0 0 0 150px;
    }
}

// ABOUT STYLE

.about {
    background-color: $hardRed;
    padding: 125px 0;

    .aboutFlex {
        display: flex;

        .imgContainer {
            // width: 400px;
            // height: 350px;

            img {
                width: 400px;
                height: 400px;
                object-fit: none;
                object-position: -40px;
            }
        }
        .textContainer {
            display: flex;
            flex-direction: column;
            margin: 0 0 0 100px;

            p {
                font-family: "Roboto", sans-serif;
                font-size: 2rem;
                font-weight: 300;
                line-height: 2.9rem;
                letter-spacing: 0.02rem;
            }

            a {
                font-size: 2.5rem;
                line-height: 2.9rem;
                padding: 15px 10px;
                text-align: center;
                background-color: $darkBrown;
                display: block;
                width: 200px;
                text-decoration: none;
            }

            a:visited {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

// GALLERY STYLE

.latestCollection {
    background-color: $brown;
    padding: 125px 0;

    h2 {
        font-size: 5.4rem;
        text-align: center;
    }
}
