html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Petit Formal Script", cursive;
  font-size: 62.5%;
  color: white;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 9rem;
  text-align: right;
}

h2 {
  font-size: 5.4rem;
  margin: 0 0 0 0;
}

h3 {
  font-size: 4.5rem;
  margin: 0;
  font-weight: 300;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.9rem;
  letter-spacing: 0.02rem;
  margin: 0 0 0 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.readMore {
  font-size: 2.5rem;
  line-height: 2.9rem;
  padding: 10px 10px;
  text-align: center;
  background-color: #1d0303;
  display: block;
  width: 200px;
  text-decoration: none;
  margin: 30px 0 0 0;
}

.readMore:visited {
  color: #ffffff;
  text-decoration: none;
}

header {
  background-color: #815600;
  padding: 20px 0 75px 0;
}

.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.navFlex a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  margin: 0 30px 0 0;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerFlex .imgContainer {
  margin: 0 0 0 150px;
}

.about {
  background-color: #500801;
  padding: 110px 0;
}
.about .aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .aboutFlex .imgContainer {
  width: 393px;
  height: 393px;
}
.about .aboutFlex .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -40px;
     object-position: -40px;
}
.about .aboutFlex .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.latestCollection {
  background-color: #815600;
  padding: 110px 0;
}
.latestCollection h2 {
  text-align: center;
  margin: 0 0 75px 0;
}
.latestCollection .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latestCollection .gallery .imgContainer {
  width: 30%;
}
.latestCollection .gallery .imgContainer img {
  width: 100%;
}

.midNav {
  background-color: #500801;
  padding: 110px 0;
}
.midNav .midNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.midNav .midNavFlex .midNavContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.midNav .midNavFlex .midNavContainer i {
  margin: 0 0 10px 0;
}

.fourSquares {
  background-color: #815600;
}
.fourSquares .squareFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.squareContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.squareContainer h2 {
  margin: 0 0 30px 0;
}
.squareContainer p {
  margin: 0 0 20px 0;
}

.imgContainer1,
.imgContainer2 {
  width: 50%;
}
.imgContainer1 img,
.imgContainer2 img {
  width: 100%;
}

.textContainer1,
.textContainer2 {
  width: 35%;
  margin: 0% 7.5%;
}

.textContainer1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.textContainer2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.imgContainer1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.imgContainer2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

footer {
  background-color: #500801;
  padding: 75px 0;
}

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footerFlex .footerBox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footerFlex .navFlex,
.footerFlex .footerBox:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.footerFlex .footerBox:last-child {
  text-align: right;
}
.footerFlex .footerBox:last-child li {
  text-align: right;
}
.footerFlex .footerBox:last-child h3 {
  margin: 0 0 20px 0;
}
.footerFlex .footerBox:nth-child(2) {
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.footerFlex .footerBox:nth-child(2) h2 {
  margin: 0 0 20px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form input {
  width: 100%;
  height: 59px;
}

button {
  font-family: "Petit Formal Script", cursive;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 2.9rem;
  padding: 10px 10px;
  text-align: center;
  background-color: #1d0303;
  display: block;
  width: 200px;
  text-decoration: none;
  margin: 0 0 0 0;
  border: none;
}

.copyright {
  background-color: #1d0303;
}
.copyright p {
  text-align: center;
  padding: 7px 0;
}

@media (max-width: 1300px) {
  h2 {
    margin: 40px 0;
  }
  header {
    padding: 20px 0 50px 0;
  }
  .headerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerFlex .imgContainer {
    margin: 0;
  }
  .about {
    padding: 75px 0;
  }
  .about .aboutFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .aboutFlex .imgContainer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about .aboutFlex .imgContainer img {
    width: 100%;
    height: 100%;
  }
  .about .aboutFlex .textContainer {
    width: auto;
  }
  .midNav .midNavFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .midNav .midNavFlex .midNavContainer {
    margin: 30px 0;
  }
  .fourSquares .squareFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imgContainer1,
.imgContainer2 {
    width: 100%;
  }
  .textContainer1,
.textContainer2 {
    width: 80%;
    margin: 50px auto 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textContainer1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .textContainer2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .imgContainer1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .imgContainer2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer {
    padding: 50px 0;
  }
  .footerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerFlex .footerBox {
    margin: 20px 0;
  }
  .footerFlex .navFlex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footerFlex .footerBox:last-child {
    text-align: center;
  }
  .footerFlex .footerBox:last-child li {
    text-align: center;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form input {
    margin: 15px 0;
  }
  button {
    background-color: black;
  }
}
@media (max-width: 687px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4.5rem;
    text-align: center;
  }
  h3 {
    font-size: 4rem;
  }
  .readMore {
    margin-left: auto;
    margin-right: auto;
  }
  .about,
.latestCollection,
.midNav {
    padding: 75px 0;
  }
  .headerFlex .imgContainer {
    position: relative;
    left: -125px;
    width: 100%;
  }
  .headerFlex .imgContainer img {
    width: 100%;
  }
  .latestCollection .gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 5%;
  }
  .latestCollection .gallery .imgContainer {
    width: auto;
  }
  .latestCollection .gallery .imgContainer:last-child {
    display: none;
  }
  .midNav .midNavFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .midNav .midNavFlex .midNavContainer {
    margin: 20px 0;
  }
}